@model EightBall.Shared.Dtos.TableDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Table</h4>
    <hr />
    @if (User.IsInRole(EightBall.Shared.Strings.RoleNames.Employee))
    {
        <a asp-action="AddTableAppointment" asp-route-id="@Model.Id">Dodaj termin</a>
    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <h6>Termini</h6>
    <table style="width: 50%">
        <tr>
            <td style="width: 50%">Pocetak</td>
            <td style="width: 50%">Kraj</td>
        </tr>
        @if (Model.Appointments.Any())
        {
            foreach (var appointment in Model.Appointments)
            {
                <tr>
                    <td style="width: 50%">@appointment.Start</td>
                    <td style="width: 50%">@appointment.End</td>
                </tr>
            }
        }
    </table>
    <hr />
</div>
<div>
    @if (User.IsInRole(EightBall.Shared.Strings.RoleNames.Employee))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> @("|")
    }
    <a asp-action="Index">Back to List</a>
</div>    